body {
    background: url("/img/background.png") no-repeat center center;
    background-size: cover;
}

.action-buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    justify-content: center;
    margin: 2rem 2rem 0;

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        justify-content: stretch;
        margin: 2rem 1rem 0;
    }
}
