.characters-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  align-items: flex-start;
  padding: 1.5rem;

  @media (max-width: 767px) {
    padding: 0 1rem;
    grid-template-columns: 1fr;
  }

  @media (max-width: 1024px) {
    grid-template-columns: repat(2, 1fr);
  }
}
